# Технические страницы
/.vitepress/ @SimonSays2310 @envizar
/src/index.md @SimonSays2310 @envizar
/.github/ @SimonSays2310
CONTRIBUTING.md @SimonSays2310
LICENSE.md @SimonSays2310
README.md @SimonSays2310

# Важные категории
/src/host/ @SimonSays2310
/src/vds/ @SimonSays2310
