node_modules
.vitepress/cache
.vitepress/dist
.git
.gitignore
.idea
.vscode
.obsidian
*.s[a-v][a-z]
*.sw[a-p]
README.md
CONTRIBUTING.md
LICENSE.md
docker-compose.yml
Dockerfile
Dockerfile.dev
.dockerignore

