# Остаточные файлы после билда
node_modules
.vitepress/cache
.vitepress/dist
package-lock.json

# Конфигурационные файлы от редакторов .md файлов
.idea
.vscode
.obsidian

# Vim
*.s[a-v][a-z]
*.sw[a-p]
pnpm-lock.yaml
